body{
  margin:0px;
  padding: 0px;
  border: 0px;
  font-family: "微软雅黑" !IMPORTANT;
  background-color: #EBEBEB;
}
button{
  font-family: "微软雅黑" !IMPORTANT;
  color:#fff !IMPORTANT;
  font-size: 17px !IMPORTANT;
}
.clear{
  clear: both;
}
.act-news{

}
.detail{
  width: 1400px;
  min-height: none;
}
.mdl-card{
  width: auto;
  min-height: 50px;
}
.mdl-button{
  font-family: "微软雅黑";
}
.actnews-title{
  height: 176px;
  background: url('../imgs/actnews.jpg') center / cover;
}
.news1-title{
  height: 176px;
  background: url('../imgs/news1.jpg') center / cover;
}
.mdl-card__title-text{
  font-family: "微软雅黑";
  color:#fff;
  font-weight: 400;
}
.login-form{
  margin-left: 16px;
  margin-right: 16px;
}
.login-button{
  background-color: #2196F3;
  margin-top: 20px;
  width: 100%;
}

.news-img{
  max-width: 100%;
  float: left;
}
.news-img img{
  max-width: 40%;
  float: left;
}
.news-img .news-text{
  width: 60%;
  float: left;
}

.news-title{
  float: left;
  max-width: 60%;
}

.news-card-title{
  margin: 5px;
  font-size: 15px;
  color:#212121;
}
.news-card-date{
  margin: 5px;
  font-size: 10px;
  color: #9B9B9B;
}


.mdl-card__supporting-text{
  border-top: 1px solid rgba(0,0,0,.1);
  width: auto;
}
  .mdl-layout__header,
  .mdl-layout__tab-bar{
    background-color: #2196F3;
  }

  .mdl-layout-title{
    font-family: "微软雅黑";
  }
  .mdl-textfield__label:after {
      background-color: #2196F3;
    }
