body{
  margin:0px;
  padding: 0px;
  border: 0px;
  font-family: "微软雅黑" !IMPORTANT;
  background-color: #EBEBEB;
}
button{
  font-family: "微软雅黑" !IMPORTANT;
  color:#fff !IMPORTANT;
  font-size: 17px !IMPORTANT;
}
h1,h2,h3,h4,h5{
  font-family: "微软雅黑" !IMPORTANT;
  color: #212121;
}
h5, h6 {
    margin: 0px 0 16px;
}
a{
  text-decoration: none;
}
.clear{
  clear: both;
}
.act-news{

}
.detail{
  width: 1400px;
  min-height: none;
}
.mdl-card{
  width: auto;
  min-height: 50px;
}
.mdl-button{
  font-family: "微软雅黑";
}
.actnews-title{
  height: 176px;
  background: url('../imgs/actnews.jpg') center / cover;
}
.news1-title{
  height: 176px;
  background: url('../imgs/news1.jpg') center / cover;
}
.mdl-card__title-text{
  font-family: "微软雅黑";
  color:#fff;
  font-weight: 400;
}
.login-form{
  margin-left: 16px;
  margin-right: 16px;
}
.login-button{
  background-color: #2196F3;
  margin-top: 20px;
  width: 100%;
}

.news-img{
  max-width: 100%;
  float: left;
}
.news-img img{
  max-width: 40%;
  float: left;
}
.news-img .news-text{
  width: 60%;
  float: left;
}

.news-title{
  float: left;
  max-width: 60%;
}

.news-card-title{
  margin: 5px;
  font-size: 15px;
  color:#212121;
}
.news-card-date{
  margin: 5px;
  font-size: 10px;
  color: #9B9B9B;
}


.mdl-card__supporting-text{
  border-top: 1px solid rgba(0,0,0,.1);
  width: auto;
}
  .mdl-layout__header,
  .mdl-layout__tab-bar{
    background-color: #2196F3;
  }

  .mdl-layout-title{
    font-family: "微软雅黑";
  }
  .mdl-textfield__label:after {
      background-color: #2196F3;
    }
  .mdl-button.mdl-button--colored{
    background-color: #2196F3;
    color: #fff;
  }
  .mdl-layout--fixed-tabs .mdl-layout__tab {
    float: left;
    -webkit-box-flex: 1;
    Unknown property name.-webkit-flex-grow: 1;
    Unknown property name.-ms-flex-positive: 1;
    Unknown property name.flex-grow: 1;
    padding: 0;
    width: 20%;
}
  .mdl-layout--fixed-header > .mdl-layout__header{
    display: block;
  }
  .mdl-layout__header-row{
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .mdl-badge[data-badge]:after{
    top:14px;
    right:24px;
  }
