.mdl-layout__header{
  box-shadow: none;
}
a{
	color:#424242 !IMPORTANT;
}
.demo-ribbon {
    width: 100%;
    height: 300px;
    background-color: #2196F3;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.main-news{
  margin-top: -300px;
}
.demo-content {
    padding: 40px 28px;
}
h5{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: bold;

}
p{
  font-size: 16px;

  margin-bottom: 0px !IMPORTANT;
}
p img{
  width: 100%;
  max-width: 100%;
  height: auto !important;
}
.comment-title{
  font-size: 20px;
  font-weight: 600;
}
.comment-capsule{
  margin: 20px 0px 20px 0px;
}
.comment-name{
  font-weight: 600;
}
.comment-detail{
  color: #9e9e9e;
}
.mdl-layout__content{
  width: 100% !important;
}
.mdl-textfield__label,
.mdl-textfield__input{
  font-family: "微软雅黑" !IMPORTANT;
  font-size: 14px;
}
.confirm{
  background-color: #2196F3 !IMPORTANT;
}
.sweet-alert{
  font-family: "微软雅黑" !IMPORTANT;
}
.mdl-textfield__label:after {
     bottom: 20px;
}
